In [12]:
import pandas as pd
import glob

In [3]:
data = pd.read_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res/snowlabels_nativeRes_labels_clean.csv')
org_labels = pd.read_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res/snowPoles_labels_clean.csv')

In [10]:
#print(data.head())
#print(org_labels.head())
merged = data.merge(org_labels, how= "left", on="filename")

In [11]:
merged

,Unnamed: 0_x,Camera_x,filename,x1_x,y1_x,x2_x,y2_x,Unnamed: 0_y,Camera_y,Date&Time,...,y1_y,x2_y,y2_y,Longitude,Latitude,UTM WGS84 Northing (meters),UTM WGS84 Easting (meters),Snow Depth (cm),Pole Length (pixels),errorcodes
0,0,W2B,W2B_WSCT0018.JPG,NaN,NaN,NaN,NaN,0.0,W2B,9/29/19 11:00,...,1126.5,3670.5,2850.5,39.029174,-108.199952,4323745.27,742381.64,0.0,1725.0,0.0
1,1,W2B,W2B_WSCT0019.JPG,NaN,NaN,NaN,NaN,1.0,W2B,9/29/19 12:00,...,1138.5,3682.5,2838.5,39.029174,-108.199952,4323745.27,742381.64,4.0,1701.0,0.0
2,2,W2B,W2B_WSCT0020.JPG,NaN,NaN,NaN,NaN,2.0,W2B,9/30/19 11:00,...,1114.5,3674.5,2846.5,39.029174,-108.199952,4323745.27,742381.64,-1.0,1733.0,0.0
3,3,W2B,W2B_WSCT0021.JPG,NaN,NaN,NaN,NaN,3.0,W2B,9/30/19 12:00,...,1098.5,3694.5,2838.5,39.029174,-108.199952,4323745.27,742381.64,-3.0,1741.0,0.0
4,4,W2B,W2B_WSCT0022.JPG,NaN,NaN,NaN,NaN,4.0,W2B,10/1/19 11:00,...,1098.5,3690.5,2838.5,39.029174,-108.199952,4323745.27,742381.64,-3.0,1741.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9728,661,CUB-H-02,CUB-H-02_2901.JPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9729,662,CUB-H-02,CUB-H-02_2925.JPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9730,663,CUB-H-02,CUB-H-02_2949.JPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9731,664,CUB-H-02,CUB-H-02_2973.JPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9732,665,CUB-H-02,CUB-H-02_2997.JPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(data)

9733

In [8]:
merged.to_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res/snowEx_clean_nativeRes.csv')

In [9]:
len(org_labels)

8918

In [23]:
all_448_keypoint_data = glob.glob('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/448res_results/CNNkeypoint/predictions/*.csv')

In [24]:
df_concat = pd.concat([pd.read_csv(f) for f in all_448_keypoint_data ], ignore_index=True)
df_concat

,Unnamed: 0,Camera,filename,x1_pred,y1s_pred,x2_pred,y2_pred,total_length_pixel
0,0,CHE4,CHE4_IMG_1129.JPG,226.783173,41.516865,226.717239,363.788055,322.271197
1,1,CHE4,CHE4_IMG_1128.JPG,226.790176,41.321575,225.929794,364.285309,322.964880
2,2,CHE4,CHE4_IMG_0287.JPG,237.043610,29.844282,236.668747,397.469879,367.625788
3,3,CHE4,CHE4_IMG_0289.JPG,236.766861,29.996124,236.814728,397.453156,367.457034
4,4,CHE4,CHE4_IMG_0288.JPG,236.590942,30.000153,236.753723,397.562622,367.562506
...,...,...,...,...,...,...,...,...
9591,499,W9D,W9D_WSCT0472.JPG,187.955566,19.406391,192.377304,278.561066,259.192394
9592,500,W9D,W9D_WSCT0314.JPG,187.349030,30.557514,189.985550,222.778824,192.239390
9593,501,W9D,W9D_WSCT0499.JPG,187.282333,23.767040,195.378464,334.986786,311.325035
9594,502,W9D,W9D_WSCT0102.JPG,201.224182,34.598766,203.182266,344.384918,309.792340
9595,503,W9D,W9D_WSCT0116.JPG,201.360336,35.009880,202.956406,345.313293,310.307518

In [19]:
alldata_448 = pd.read_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/snowPoles_labels_clean_448res.csv')
alldata_448

,Unnamed: 0,Camera,filename,x1,y1,x2,y2,Length_px,conversion,Length_cm,HT_px,HT_cm,split,keypoint_px,keypoint_cm,CNNht_px,CNNht_cm
0,0,W2B,W2B_WSCT0018.JPG,270.457895,147.564912,270.457895,373.398830,225.833918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,W2B,W2B_WSCT0019.JPG,273.110526,149.136842,271.342105,371.826901,222.697080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,W2B,W2B_WSCT0020.JPG,271.342105,145.992983,270.752632,372.874854,226.882637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,W2B,W2B_WSCT0021.JPG,271.636842,143.897076,272.226316,371.826901,227.930587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,W2B,W2B_WSCT0022.JPG,271.636842,143.897076,271.931579,371.826901,227.930015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9728,661,CUB-H-02,CUB-H-02_2901.JPG,165.375000,144.666667,172.375000,355.250000,210.699645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9729,662,CUB-H-02,CUB-H-02_2925.JPG,164.500000,145.250000,171.937500,355.250000,210.131664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9730,663,CUB-H-02,CUB-H-02_2949.JPG,164.500000,144.083333,172.375000,354.083333,210.147604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9731,664,CUB-H-02,CUB-H-02_2973.JPG,165.375000,144.083333,171.937500,354.666667,210.685564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9732,665,CUB-H-02,CUB-H-02_2997.JPG,163.625000,145.833333,172.375000,356.416667,210.765042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
len(all_448_keypoint_data)
pd.unique(alldata_448['Camera'])

array(['W2B', 'E6A', 'E6B', 'E9A', 'E9E', 'E9F', 'W1A', 'W2A', 'W5A',
       'W6A', 'W6B', 'W6C', 'W8A', 'W8C', 'W9A', 'W9B', 'W9C', 'W9D',
       'W9E', 'W9G', 'CHE2', 'CHE3', 'CHE4', 'CHE5', 'CHE6', 'CHE7',
       'CHE8', 'CHE9', 'CHE10', 'TWISP-U-01', 'TWISP-R-01', 'CUB-M-02',
       'CUB-L-02', 'CUB-H-02'], dtype=object)

In [22]:
data448 = alldata_448.merge(df_concat, how="left", on="filename")
data448.to_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/data448_keypoint.csv')

Data merge and cleaning!

In [79]:
data_native = pd.read_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/snowlabels_nativeRes_labels_clean.csv')
all_HT_files = glob.glob('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res_results/HT/*.csv')
all_CNNkeypoint_files = glob.glob('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res_results/CNNkeypoint/predictions/*.csv')
all_CNNht_files = glob.glob('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/native_res_results/CNNht/**/*.csv')

In [80]:
print(len(all_HT_files))
print(len(all_CNNkeypoint_files))
print(len(all_CNNht_files))

15
33
31

In [81]:
## concatenate all the rows within all the dataframes
HT_data = pd.concat([pd.read_csv(f) for f in all_HT_files ], ignore_index=True)
HT_data['filename'] = HT_data['Var1']
CNNkeypoint_data = pd.concat([pd.read_csv(f) for f in all_CNNkeypoint_files ], ignore_index=True)
CNNht_data = pd.concat([pd.read_csv(f) for f in all_CNNht_files ], ignore_index=True)

In [82]:
data_native = data_native.merge(HT_data, how="left", on="filename")
data_native = data_native.merge(CNNkeypoint_data, how="left", on="filename")
data_native = data_native.merge(CNNht_data, how="left", on="filename")

In [83]:
data_native

,Unnamed: 0_x,camera,filename,date,x1,y1,x2,y2,length_px,conversion_x,...,x2_pred_x,y2_pred_x,total_length_pixel_x,Unnamed: 0,Camera_y,x1_pred_y,y1s_pred_y,x2_pred_y,y2_pred_y,total_length_pixel_y
0,0,W2B,W2B_WSCT0018.JPG,9/29/19 11:00,3670.5,1126.5,3670.5,2850.5,1724.0,NaN,...,3674.25460,2862.2363,1739.913940,8.0,W2B,421.258801,828.042091,402.702488,1690.316940,862.474493
1,1,W2B,W2B_WSCT0019.JPG,9/29/19 12:00,3706.5,1138.5,3682.5,2838.5,1700.2,NaN,...,3693.99680,2859.1172,1721.602417,9.0,W2B,436.877850,11.092754,420.540373,833.801561,822.871007
2,2,W2B,W2B_WSCT0020.JPG,9/30/19 11:00,3682.5,1114.5,3674.5,2846.5,1732.0,NaN,...,3682.97660,2866.4370,1738.698120,10.0,W2B,400.097625,47.746392,390.554873,1693.418161,1645.699437
3,3,W2B,W2B_WSCT0021.JPG,9/30/19 12:00,3686.5,1098.5,3694.5,2838.5,1740.0,NaN,...,3692.62960,2860.0542,1751.140747,11.0,W2B,400.319116,10.583774,396.370100,1549.025471,1538.446765
4,4,W2B,W2B_WSCT0022.JPG,10/1/19 11:00,3686.5,1098.5,3690.5,2838.5,1740.0,NaN,...,3700.93770,2865.6057,1754.640137,12.0,W2B,401.861908,11.309528,396.114160,1627.806252,1616.506942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9728,9728,CUB-H-02,CUB-H-02_2901.JPG,NaN,756.0,496.0,788.0,1218.0,722.7,NaN,...,781.26917,1222.7134,719.483032,120.0,CUB-H-02,161.087415,726.184832,135.121400,4.570203,722.081649
9729,9729,CUB-H-02,CUB-H-02_2925.JPG,NaN,752.0,498.0,786.0,1218.0,720.8,NaN,...,779.10406,1219.6311,721.063538,121.0,CUB-H-02,95.774707,3.613268,130.869209,724.954349,722.194281
9730,9730,CUB-H-02,CUB-H-02_2949.JPG,NaN,752.0,494.0,788.0,1214.0,720.9,NaN,...,777.86365,1218.8424,717.811523,122.0,CUB-H-02,98.150774,3.380207,131.118522,719.211535,716.590094
9731,9731,CUB-H-02,CUB-H-02_2973.JPG,NaN,756.0,494.0,786.0,1216.0,722.6,NaN,...,777.06160,1220.6942,718.844299,123.0,CUB-H-02,162.582997,724.860044,130.499410,3.884925,721.688630
9732,9732,CUB-H-02,CUB-H-02_2997.JPG,NaN,748.0,500.0,788.0,1222.0,723.1,NaN,...,779.04410,1222.7306,714.698608,124.0,CUB-H-02,91.995939,3.565827,131.057103,729.466200,726.950567

In [84]:
### update columns
data_native['HT_px'] = data_native['Var2']
data_native['keypoint_px'] = data_native['total_length_pixel_x']
data_native['CNNht_px'] = data_native['total_length_pixel_y']

In [92]:
data_native1 = data_native.iloc[:,1:18]

In [93]:
data_native1

,camera,filename,date,x1,y1,x2,y2,length_px,conversion_x,Length_cm,HT_px,HT_cm,split,keypoint_px,keypoint_cm,CNNht_px,CNNht_cm
0,W2B,W2B_WSCT0018.JPG,9/29/19 11:00,3670.5,1126.5,3670.5,2850.5,1724.0,NaN,NaN,NaN,NaN,NaN,1739.913940,NaN,862.474493,NaN
1,W2B,W2B_WSCT0019.JPG,9/29/19 12:00,3706.5,1138.5,3682.5,2838.5,1700.2,NaN,NaN,NaN,NaN,NaN,1721.602417,NaN,822.871007,NaN
2,W2B,W2B_WSCT0020.JPG,9/30/19 11:00,3682.5,1114.5,3674.5,2846.5,1732.0,NaN,NaN,NaN,NaN,NaN,1738.698120,NaN,1645.699437,NaN
3,W2B,W2B_WSCT0021.JPG,9/30/19 12:00,3686.5,1098.5,3694.5,2838.5,1740.0,NaN,NaN,NaN,NaN,NaN,1751.140747,NaN,1538.446765,NaN
4,W2B,W2B_WSCT0022.JPG,10/1/19 11:00,3686.5,1098.5,3690.5,2838.5,1740.0,NaN,NaN,NaN,NaN,NaN,1754.640137,NaN,1616.506942,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9728,CUB-H-02,CUB-H-02_2901.JPG,NaN,756.0,496.0,788.0,1218.0,722.7,NaN,NaN,518.510366,NaN,NaN,719.483032,NaN,722.081649,NaN
9729,CUB-H-02,CUB-H-02_2925.JPG,NaN,752.0,498.0,786.0,1218.0,720.8,NaN,NaN,726.430313,NaN,NaN,721.063538,NaN,722.194281,NaN
9730,CUB-H-02,CUB-H-02_2949.JPG,NaN,752.0,494.0,788.0,1214.0,720.9,NaN,NaN,625.182373,NaN,NaN,717.811523,NaN,716.590094,NaN
9731,CUB-H-02,CUB-H-02_2973.JPG,NaN,756.0,494.0,786.0,1216.0,722.6,NaN,NaN,911.087263,NaN,NaN,718.844299,NaN,721.688630,NaN
9732,CUB-H-02,CUB-H-02_2997.JPG,NaN,748.0,500.0,788.0,1222.0,723.1,NaN,NaN,820.810575,NaN,NaN,714.698608,NaN,726.950567,NaN

In [86]:
# raw_data_w_date_info = pd.read_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/WRR_snowstake_comparison_notebook_xlsx.csv')
# data_native1 = data_native1.merge(raw_data_w_date_info, how="left", left_on="filename", right_on = "image_id")

In [88]:
# data_native2 = data_native1.iloc[:,1:20]
# data_native2

,filename,date_x,x1_x,y1_x,x2_x,y2_x,length_px,conversion_x,Length_cm,HT_px,HT_cm,split,keypoint_px,keypoint_cm,CNNht_px,camera_y,image_id,date_y,x1_y
0,W2B_WSCT0018.JPG,9/29/19 11:00,3670.5,1126.5,3670.5,2850.5,1724.0,NaN,NaN,NaN,NaN,NaN,1739.913940,NaN,862.474493,W2B,W2B_WSCT0018.JPG,9/29/19 11:00,3670.5
1,W2B_WSCT0019.JPG,9/29/19 12:00,3706.5,1138.5,3682.5,2838.5,1700.2,NaN,NaN,NaN,NaN,NaN,1721.602417,NaN,822.871007,W2B,W2B_WSCT0019.JPG,9/29/19 12:00,3706.5
2,W2B_WSCT0020.JPG,9/30/19 11:00,3682.5,1114.5,3674.5,2846.5,1732.0,NaN,NaN,NaN,NaN,NaN,1738.698120,NaN,1645.699437,W2B,W2B_WSCT0020.JPG,9/30/19 11:00,3682.5
3,W2B_WSCT0021.JPG,9/30/19 12:00,3686.5,1098.5,3694.5,2838.5,1740.0,NaN,NaN,NaN,NaN,NaN,1751.140747,NaN,1538.446765,W2B,W2B_WSCT0021.JPG,9/30/19 12:00,3686.5
4,W2B_WSCT0022.JPG,10/1/19 11:00,3686.5,1098.5,3690.5,2838.5,1740.0,NaN,NaN,NaN,NaN,NaN,1754.640137,NaN,1616.506942,W2B,W2B_WSCT0022.JPG,10/1/19 11:00,3686.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9728,CUB-H-02_2901.JPG,NaN,756.0,496.0,788.0,1218.0,722.7,NaN,NaN,518.510366,NaN,NaN,719.483032,NaN,722.081649,CUB-H-02,CUB-H-02_2901.JPG,NaN,NaN
9729,CUB-H-02_2925.JPG,NaN,752.0,498.0,786.0,1218.0,720.8,NaN,NaN,726.430313,NaN,NaN,721.063538,NaN,722.194281,CUB-H-02,CUB-H-02_2925.JPG,NaN,NaN
9730,CUB-H-02_2949.JPG,NaN,752.0,494.0,788.0,1214.0,720.9,NaN,NaN,625.182373,NaN,NaN,717.811523,NaN,716.590094,CUB-H-02,CUB-H-02_2949.JPG,NaN,NaN
9731,CUB-H-02_2973.JPG,NaN,756.0,494.0,786.0,1216.0,722.6,NaN,NaN,911.087263,NaN,NaN,718.844299,NaN,721.688630,CUB-H-02,CUB-H-02_2973.JPG,NaN,NaN
9732,CUB-H-02_2997.JPG,NaN,748.0,500.0,788.0,1222.0,723.1,NaN,NaN,820.810575,NaN,NaN,714.698608,NaN,726.950567,CUB-H-02,CUB-H-02_2997.JPG,NaN,NaN

In [91]:
data_native1.to_csv('/Users/catherinebreen/Documents/Chapter 1/WRRsubmission/data/snowlabels_nativeRes_labels_clean_results.csv')